<!--
  Copyright 2016 The Cartographer Authors

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<launch>
  <param name="/use_sim_time" value="true" />
  <!-- <arg name="bag_filename" default="/media/zz/99a6b4a4-10ae-40e5-91e0-01bbaee2f4d6/zz/bag/test.bag"/> -->
  <!-- <arg name="bag_filename" default="/media/zz/99a6b4a4-10ae-40e5-91e0-01bbaee2f4d6/zz/bag/5f.bag"/> -->
  <arg name="bag_filename" default="/home/movexbot/rosbag_test/Mapping/Mapping_jkkk_2022-04-07-19-16-06.bag"/>
  
  <!-- <param name="robot_description"
    textfile="$(find cartographer_ros)/urdf/demo.urdf" />

  <node name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher" /> -->

  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -map_folder_path $(env WORK_FOLDER_PATH)/Map/
          -configuration_directory $(find cartographer_ros)/configuration_files
          -configuration_basename mapping.lua
          -configuration_basename_localization localization.lua
          -use_manager=false"
      output="screen">
    <remap from="scan" to="nav_scan" />
    <remap from="scan_1" to="nav_scan" />
    <remap from="scan_2" to="camera_3_scan" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find cartographer_ros)/configuration_files/demo_2d.rviz" />
  <node name="playbag" pkg="rosbag" type="play"
      args="--clock -r 2 -s 0 $(arg bag_filename)" >
      <remap from="/kitti/velo/pointcloud" to="/points2"/>
      <remap from="/kitti/oxts/imu" to="/imu"/>
  </node>
</launch>
